<!-- <div class="note md-list-item-text" layout="row"> -->
<!-- <md-card ng-click="editNote(note)" ng-right-click="doAction(note)" md-ink-ripple>
<md-card-title>
    <md-card-title-text>
        <span class="md-headline">{{note.title}}</span>
        <span class="md-subhead">{{note.content}}</span>
    </md-card-title-text>
    <md-card-title-media ng-if="note.attachmentsList && note.attachmentsList.length">
        <div class="md-media-sm card-media">
            <img ng-src="{{getNoteThumbnail(note)}}" alt="{{getNoteThumbnailShort(note)}}" />
        </div>
    </md-card-title-media>
</md-card-title>
</md-card> -->
<!-- </div> -->

<md-item-content layout="row">
    <div layout="column">
        <h4>{{note.title}}</h4>
        <p>{{note.content}}</p>
    </div>
    <span flex></span>
    <img ng-src="{{getNoteThumbnail(note)}}" alt="{{getNoteThumbnailShort(note)}}" class="md-avatar" ng-if="note.attachmentsList && note.attachmentsList.length" />
</md-item-content>
