<div ng-controller='toolbarController'>

    <!-- Standard toolbar -->
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <span>Omni Notes</span>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search" />
            </md-button>
            <md-menu md-offset="0 -7">
                <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                    <ng-md-icon icon="more_vert" />
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="toggleHelp()"> <span md-menu-align-target>Shortcuts</span></md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="exit()"> <span md-menu-align-target>Exit</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <!-- Search toolbar -->
    <md-toolbar ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <md-input-container flex>
                <input type="text" placeholder="enter search" ng-model="searchQuery" ng-change="queryChanged()" focus="{{showSearch}}" />
            </md-input-container>
        </div>
    </md-toolbar>

</div>
