.toolbar {
    -webkit-app-region: drag;
}

.toolbar md-menu {
    -webkit-app-region: no-drag;
}

.toolbar md-button {
    -webkit-app-region: no-drag;
}

.menu-item ng-md-icon {
    margin: auto;
    margin-right: 15px;
}

ng-md-icon {
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}

.nav-active {
  background-color: #E7E7E7;
  font-weight: bold;
}
