body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#sidenav {
    height: 100%;
    overflow-y: scroll;
}

#rootView {
    width: 100%;
    overflow-y: scroll;
}

.menu-item ng-md-icon {
    margin: auto;
    margin-right: 15px;
}

ng-md-icon {
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}

.nav-active {
    background-color: #E7E7E7;
    font-weight: bold;
}


}
